

.bullet {
    display: inline-block;
    margin: 0 2px;
    transform: scale(0.8);
}

.title {
    font-size: 14px;
}

.pos {
    margin-bottom: 12px;
}


.teacherAvatar {

    width: 100%;
}

.MuiAvatar-root.new {
    float: left;
    margin: 1%;
    height: 100px;
    width: 100px;
    content: url("../../../images/TeacherAvatar.png");
}

.MuiTypography-root.Name{
    padding-left: 50px;
}
.MuiSvgIcon-root.Icon{
    margin-right: 1%;
}
.ThesisAvailabilityGreen{
    font-size: small!important;
    color: green;
}

.ThesisAvailabilityRed{
    font-size: small!important;
    color: red;
}

.MuiCard-root.card {
    margin: 1%;
    width: 48%;
    float: left;
}

.MuiCard-root.card:hover{
    box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2), 0 3px 4px 0 rgba(0,0,0,0.14), 0 1px 8px 0 rgba(0,0,0,0.12);
}


