/*.Login {*/
/*    margin: 0 auto;*/
/*    margin-top: 70px;*/
/*    max-width: 400px;*/
/*    padding: 40px 40px;*/
/*    background: #fff;*/
/*}*/

.Login {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.FormSide {
    background: #f9f9f9;
    float: left;
    width: 50%;
    height: 100%;
}

.MidDivider {
    width: 10%;
    height: 100%;
    background: #f9f9f9 ;
    float: right;
}

.HeroSide {
    background: #0d2d4c;
    float: left;
    width: 50%;
    height: 100%;
}

.HeroImage {
    position: absolute;
    height: 70%;
    width: 50%;
}

.LoginForm {
    position: relative;
    left: 30%;
    top: 30%;
    max-width: 45%;
}

